/* ----------------------------- */
/* Página */
/* ----------------------------- */

body{
    margin:0;
    background:#1F2A2E;
    font-family:Arial, Helvetica, sans-serif;
    color:white;
}

/* ----------------------------- */
/* Título */
/* ----------------------------- */

h1{
    text-align:center;
    font-size:42px;
    font-weight:300;
    margin:30px 0;
    letter-spacing:1px;
}

/* ----------------------------- */
/* Panel principal */
/* ----------------------------- */

.contenedor{

    width:96%;
    margin:auto;

    background:#2A373C;

    border-radius:20px;

    padding:25px;

    box-sizing:border-box;

    box-shadow:0 8px 25px rgba(0,0,0,.35);

}

/* ----------------------------- */
/* Tabla */
/* ----------------------------- */

#tabla{
    display:grid;
    grid-template-columns:repeat(18, minmax(0, 1fr));
    gap:4px;
    width:100%;
    max-width:1400px;
    margin:auto;
}

/* ----------------------------- */
/* Casillas */
/* ----------------------------- */

.elemento{
    aspect-ratio:1 / 1;
    width:100%;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    border-radius:8px;
    overflow:hidden;
}


.numero{
    font-size:clamp(8px,1vw,14px);
}

.simbolo{
    font-size:clamp(14px,2vw,28px);
    font-weight:bold;
}

.nombre{
    font-size:clamp(6px,0.8vw,12px);
}

.elemento:hover{

    transform:scale(1.08);

    cursor:pointer;

    box-shadow:0 8px 18px rgba(0,0,0,.35);

}

/* ----------------------------- */
/* Texto */
/* ----------------------------- */

.numero{

    font-size:10px;

    font-weight:bold;

    align-self:flex-start;

    margin-left:5px;

}

.elemento h2{

    margin:2px 0;

    font-size:28px;

    font-weight:bold;

    line-height:1;

}

.nombre{

    font-size:9px;

    line-height:1;

    text-align:center;

}

/* ----------------------------- */
/* Colores */
/* ----------------------------- */

/* Hidrógeno */
.hidrogeno{
    background:#ECEFF1;
}

/* Grupo 1 */
.grupo1{
    background:#E91E63;
}

/* Grupo 2 */
.grupo2{
    background:#F8BBD0;
}

/* Metales de transición */
.transicion{
    background:#64B5F6;
}

/* Grupo 13 */
.grupo13{
    background:#8BC34A;
}

/* Grupo 14 */
.grupo14{
    background:#BA68C8;
}

/* Grupo 15 */
.grupo15{
    background:#ECEFF1;
}

/* Grupo 16 */
.grupo16{
    background:#FFCC80;
}

/* Grupo 17 */
.grupo17{
    background:#FF9800;
}

/* Grupo 18 */
.grupo18{
    background:#FDD835;
}

/* Lantánidos */
.lantanidos{
    background:#80DEEA;
}

/* Actínidos */
.actinidos{
    background:#9CCC65;
}